{% extends 'base.html' %}

{% block content %}
    <main class="main main--about">
        <p>
            Hi, my name is Asher! I am a computer science student at UC Santa Cruz with an expected graduation year
            of 2025. Not only am I learning how to code in college but I also enjoy learning about software developement
            on my own. I learned html, css, and flask through online courses on the website Udemy. Although I enjoy
            coding in general I have found that website developement is extremely rewarding and so far my favorite 
            method of developement for personal projects.
        </p>
        <p>
            I was first introduced to coding in highschool when I took an intro to python class. Although the class
            was very easy it started my passion for coding and made me decide that I wanted to go to college to study
            computer science. Once the class was over I looked online to find 
            somewhere that I could learn more about python which is how I found out about Udemy.
        </p>
        <p>
            So far python is my favorite programming language however it is possible that I am biased towards python
            simply because it was the first programming language that I learned. I don't code much in python for my 
            classes in college so I make sure to go back to python frequently. My other hobbies include weightlifting, rock climbing,
            skateboarding, and rewatching Christopher Nolan movies (Dark Knight > The Batman).
        </p>
    </main>
{% endblock content %}