{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A few assorted weights."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        This is a simple remake of the game Cookie Clickers. I used to play Cookie
                        Clickers all the time and once I started to learn how to make websites I 
                        decided to try to make a similar game to put some of my new learned skills to 
                        the test. The game has minimal css styling but overall the functionality is there
                        which is the main thing that I cared about. the code is also set up in a way that
                        I can easily add any upgrades that I think of so I can go back and add to this 
                        project whenever I think of something new. Enjoy :).
                    </p>

                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}